/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

label {
  color: white;
}

.App {
  border: 50px solid white;
}

.flex {
  display: flex
}
.row-container {
  justify-content: space-around;
}

.week-container {
  background: #7584b7;
}

.month-container {
  background: #7584b7;
}

.dayName {
  font-weight: bold;
}

.day-container{
  background-color: #eff3f9;
}
.day:hover {
  background: inherit;
}

.day:hover .eventdiv {
  border: 5px solid;
  border-color: #7584b7;
}

.day {
  font-family: Arial;
  height: 150px;
  border: 1px solid white;
  flex-grow: 1;
  margin: 10px;
  cursor: pointer;
  overflow: scroll;
  max-height: 150px;
  width: 30%;
  background: #eff3f9;

}

button {
background-color: #afc2ff
}

.eventdiv {
  color: #afc2ff;
  margin-top: 5px;
  border-bottom: 5px solid #eff3f9;
  overflow: hidden;
  background-color: #1c233a;
  padding: 2px;

}


.modal {
  display: flex;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.9;
  background-color: black;
  justify-content: center;

}

.flex-outer-form {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer-form li {
  display: flex;
  justify-content: center;
  background-color: #7584b7;
}

.formheader {
  font: "Fira Sans", "Helvetica Neue", sans-serif;
  color: #0a1538;
}

.flex-outer-form > li > label {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  flex: 1 0 120px;
  max-width: 120px;
  height: 30px;
  align-self: center;
}

.flex-outer-form > li > input {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  width: 50%;
  align-self: center;
  height: 30px;
}

input {
  padding: 5px

}

.flex-outer-form li button:hover {
  background-color: black;
}

.flex-outer-form li button {
  justify-content: space-around;
  padding: 8px 16px;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px solid;
  margin: 10px;
  cursor: pointer;

}

.btn-container {
  display:flex;
  justify-content: space-around;
}

form {
  width: 50%;
  height: 50%;
  justify-content: center;
  border: 100px solid transparent;
}
